[all:vars]
centos_remote_url="https://cloud.centos.org/centos/7/images/CentOS-7-x86_64-GenericCloud-2009.qcow2"
centos_local_file="CentOS-7-x86_64-GenericCloud-2009.qcow2"
reset_host_password=false
rootpass=99cloud

cloudlab_dir=/root/cloudlab
cloudlab_image_dir=/var/lib/libvirt/qemu/cloudlab/images
cloudlab_volume_dir=/var/lib/libvirt/qemu/cloudlab/volumes

[cloudlabs]
cloudlab001
cloudlab002

[vms]
node001 cpu=1 ram=2048 sys_disk_size=20 ipaddr=192.168.122.101 netmask=255.255.255.0 gateway=192.168.122.1
node002 cpu=1 ram=2048 sys_disk_size=20 ipaddr=192.168.122.102 netmask=255.255.255.0 gateway=192.168.122.1
